{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}
メインページ
{% endblock %}

{% block content %}

<!-- <form method="POST"> -->

<!-- 勤務表概要部 -->


    <header>
        <a href="/logout" class="btn btn--orange btn--radius">ログアウト</a>
    </header>

    <div id="title-contents">
        <a href="/last_month" id ="left-button" class="btn btn--orange btn--radius"> ＜{{month-1}}月　</a>
        <a href="/next_month" id ="right-button" class="btn btn--orange btn--radius">　{{month+1}}月＞  </a>
                <h4>株式会社アビソル　勤務表</h4>

                <p>{{now.year}}年{{month}}月</p>

                <p>氏名：{{current_user.username}}</p>
    </div>





    <!-- 勤怠内容全体 -->
    <div id="container-contents">



        <!-- 区分名 -->
        <table id="item-title" border="1">
            <thead>
                <tr>
                    <th class="form-type-day">日</th>
                    <th class="form-type-day">曜</th>
                    <th class="form-type-text">区分</th>
                    <th class="form-type-late-early">早/退</th>
                    <th class="form-type-time">開始時間</th>
                    <th class="form-type-time">終了時間</th>
                    <th class="form-type-time">作業時間</th>
                    <th class="form-type-time">休憩時間</th>
                    <th class="form-type-time">普通残業</th>
                    <th class="form-type-time">深夜時間</th>
                    <th class="form-type-time">休日出勤</th>
                    <th class="form-type-text">作業内容</th>
                    <th class="form-type-text">勤怠事由</th>
                </tr>
            </thead>
            <tbody>


                {% for table_list in table_lists %}
                <tr>
                    <form method="POST" action="{{url_for('app.show_work_table')}}">
                        {{form.csrf_token}}

                        {{form.year(value=table_list.year)}}
                        {{form.month(value=table_list.month)}}
                        {{form.day(value=table_list.day)}}

                        <td class="form-type-day">{{table_list.day}}</td>
                        <!-- 曜日処理 -->
                        <td class="form-type-day">
                            <script>
                                let today{{table_list.day}} = new Date({{table_list.year}}+"/"+{{table_list.month}}+"/"+{{table_list.day}});
                                let weekday{{table_list.day}} = ["日", "月", "火", "水", "木", "金", "土"];
                                let wday{{table_list.day}} = "（" + weekday{{table_list.day}}[today{{table_list.day}}.getDay()] + "）";
                                // console.log(wday{{table_list.day}});

                                let element{{table_list.day}} = document.getElementsByClassName('form-type-day');
                                element{{table_list.day}}[({{table_list.day}}*2)+1].insertAdjacentText('afterbegin', wday{{table_list.day}});
                            </script>

                        </td>
                        <td class="form-type-text">{{form.date_attribute(value=table_list.date_attribute)}}</td>
                        <td class="form-type-late-early">{{form.late_early(value=table_list.late_early)}}</td>
                        <td class="form-type-time">{{form.start_at(value=table_list.start_at)}}</td>
                        <td class="form-type-time">{{form.end_at(value=table_list.end_at)}}</td>
                        <td class="form-type-time">{{table_list.working_hour}}</td>
                        <td class="form-type-time">{{form.recess_hour(value=table_list.recess_hour)}}</td>
                        <td class="form-type-time">{{form.extra_hour(value=table_list.extra_hour)}}</td>
                        <td class="form-type-time">{{form.graveyard_shift_hour(value=table_list.graveyard_shift_hour)}}</td>
                        <td class="form-type-time">{{form.holiday_shift_hour(value=table_list.holiday_shift_hour)}}</td>
                        <td class="form-type-text">{{form.work_content(value=table_list.work_content)}}</td>
                        <td class="form-type-text">{{form.about_attendance(value=table_list.about_attendance)}}</td>
                                    
                        <td>{{form.submit()}}</td>

                    </form>
                </tr>
                {% endfor %}

            </tbody>

        </table>





    </div>


    <div id="total-contents">
        <table border="1">
            <tr>
                <th>作業時間</th>
                <td>{{total_working_hour}}</td>
            </tr>
            <tr>
                <th>休憩時間</th>
                <td>30h</td>
            </tr>
            <tr>
                <th>普通残業</th>
                <td>10h</td>
            </tr>
            <tr>
                <th>深夜残業</th>
                <td>3h</td>
            </tr>
            <tr>
                <th>休日出勤</th>
                <td>7h</td>
            </tr>
        </table>



    </div>


<!-- </form> -->
{% endblock %}