<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>
        勤怠 | 
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>
    <div id="all-contents">
    {% block content %}
    {% endblock %}
    </div>
</body>

</html>