{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block content %}

{% for message in get_flashed_messages() %} {# messages when redirecting to login.html #}
{{ message }}
{% endfor %}
<form method="POST">
    {{form.csrf_token}}
    {{render_field(form.email)}}
    {{render_field(form.password)}}
    {{form.submit()}}
</form>
<a href="/register">新規登録</a>
{% endblock %}