/* 全体適用 */


header{
  margin: 10px auto;
  height: 50px;
  text-align: right;
}

input{
  width: 95%;
  
}

#all-contents{
  width: 80%;
  margin: auto;
  border-top : solid 50px #eb6100;
  border-bottom : solid 50px #eb6100;
  border-left: solid 3px #eb6100;
  border-right: solid 3px #eb6100;
}

#title-contents,
#container-contents{
  margin: 10px auto;
  width: 80%;
  text-align: center;
}



#total-contents{
  margin: 10px auto;
  width: 80%;
}


.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

a.btn--radius {
   border-radius: 100vh;
}


#left-button{
  float: left;
}

#right-button{
  float: right;
}

/* class系指定 */

