/* 全体適用 */
html, body {
  height: 90%;
  background-color: #00a2b7;
}

.container-calendar,
.container-contents {
  background: #ffffff;
  padding: 15px;
  width: 55%;
  margin: 0 auto;
  overflow: auto;
}

select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #ffffff;
  color: #2a2a2a;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  padding: 5px 1em;
}
/* ---ここまで--- */



/* カレンダー適用 */
.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}

.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #00a2b7;
  color: #fff;
  border: 1px solid #0aa2b5;
  border-radius: 4px;
  padding: 5px 10px;
}

#previousMonth {
  float: left;
}

#nextMonth {
  float: right;
}

#monthAndYear {
  font-size: x-large;
  text-align: center;
  margin-top: 0;
}

.table-calendar {
  border-collapse: collapse;
  width: 100%;
}

.table-calendar th,
.table-calendar td {
  padding: 10px;
  text-align: center;
  vertical-align: top;
}

.sunday {
  color: #ff838b;
}

.saturday {
  color: #6fb5ff;
}

.today {
  background: #dcfbff;
}

#selectDay {
  border: 3px solid #e2e2e2;
}

.footer-container-calendar {
  text-align: right;
  margin-top: 1em;
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0;
}
/* ---ここまで--- */



/* コンテンツ適用 */
#dayContents {
  font-size: x-large;
  background: #e2e2e2;
  margin-top: 0;
}

.table-contents table {
  margin-top: 1em;
  width: 100%;
  border: 3px solid #979797;
  border-collapse: collapse;
  border-spacing: 0;
}

.table-contents th,
.table-contents td {
  padding: 10px;
  text-align: center;
  vertical-align: top;
  border: 1px solid #8f8f8f;
}
/* ---ここまで--- */